<%- include('header') -%>
<main>
    <h2><%= title %></h2>
    <form action='<%= action %>' method="post">
        <p>
            <label for="civilite">Civilité</label>
            <select name='civilite' id="civilite">
                <option value="Mme" <% if(locals.contact && contact.civilite === 'Mme'){ %> selected <% } %>>Mme
                </option>
                <option value="Mr" <% if(locals.contact && contact.civilite === 'Mr'){ %> selected <% } %>>Mr</option>
            </select>
        </p>
        <p>
            <label for="lastName">Nom</label>
            <input type="text" name="lastName" id="lastName" value="<%= locals.contact ? contact.lastName : '' %>">
        </p>
        <p>
            <label for="firstName">Prénom</label>
            <input type="text" name="firstName" id="firstName" value="<%= locals.contact ? contact.firstName : '' %>">
        </p>
        <p>
            <label for="phone">Téléphone</label>
            <input type="text" name="phone" id="phone" value="<%= locals.contact ? contact.phone : '' %>">
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= locals.contact ? contact.email : '' %>">
        </p>
        <p>
            <button type="submit">Enregistrer</button>
            <button type="reset">Annuler</button>
        </p>
    </form>
</main>
<%- include('footer') -%>