<%- include('header') -%>
<main>
    <h2><%= contact.civilite %> <%= contact.lastName %> <%= contact.surname %></h2>
    <p><strong>Numéro de téléphone: </strong><%= contact.phone %></p>
    <p><strong>Adresse Email </strong><%= contact.email %></p>
    <a href="/contacts/<%= id %>/update">Modifier le contact</a>
</main>
<%- include('footer') -%>
