<%- include('header') -%>
<main>
    <h2>Liste des contacts</h2>
    <form action="/contacts/delete" method="post">
        <ul>
            <% for(let i = 0; i<result.length; i++) { %>
            <!-- Utilisez "result" au lieu de "contacts" -->
            <li>
                <input type="checkbox" name="contactsToDelete[]" value="<%= result[i].id %>">
                <span class="contact"><%= result[i].firstName.toUpperCase() %> <%= result[i].lastName %> </span>
                <img width="100" src="/images/<%= result[i].image %>"
                    alt="Photo de <%= result[i].firstName %> <%= result[i].lastName %>">

                <a href="/contacts/<%= result[i].id %>">
                    <i class="far fa-eye"></i>
                </a>
            </li>
            <% } %>
        </ul>
        <button>Supprimer</button>
    </form>
</main>
<%- include('footer') -%>